NODE_ENV=development
LANG=vn
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_db_password_here
DB_NAME=fandb_db

JWT_SECRET=your_jwt_secret_key

REDIS_HOST=localhost
REDIS_PORT=6379
MAIL_HOST=mailtrap_url
MAIL_PORT=587
MAIL_USER=mailtrap_user
MAIL_PASS=mailtrap_pass
MAIL_FROM="App <noreply@app.com>"
APP_URL=http://localhost:3000